doctype html
html
    head
        title = "Hello Pug"
        style
            include ../public/style.css
    body
        //- include ./header.pug
        h1 Sobre nosotros
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur maxime nulla aperiam velit! Dolorem dolore velit cum, expedita sit perspiciatis laudantium, odio consequatur vel corporis culpa enim, labore nobis nam.
        img(src='public/media/pug.jpeg')

        
       
        //- include ./footer.pug