doctype html
html
   head
      title="Hola Pug"
      style
        include ../public/style.css
   body
      
      h1 Bienvenido a mi web
      p.greetings#people Estás en una plantilla hecha con PUG
      div
         img(src='public/media/pug-m.jpeg')
      
      
      script(src='/public/js/home.js')